.months {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
}

.month {
    width: 25px;
    text-align: center;
    border: double;
    border-color: white;
    padding: 5px;
}
