<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% seo %}
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        {% include head-custom.html %}
    </head>
    <body>
        <div class="wrapper">
            <ul>
                <li class="fork"><a href="/lille-trail/">Startseite</a></li>
                <li class="fork"><a href="/lille-trail/page/lille">Lille</a></li>
                <li class="fork"><a href="/lille-trail/page/roubaix">Roubaix</a></li>
                <li class="fork"><a href="/lille-trail/page/lausanne">Lausanne</a></li>
                <li class="fork"><a href="/lille-trail/page/leipzig">Leipzig</a></li>
            </ul>
        </div>

        <div class="wrapper">
            {{ content }}
        </div>

        <div class="wrapper">
            <div id="footer">
                <br><hr>
                <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
                <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
            </div>
        </div>
    </body>
</html>
